body {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('/src/assets/images/Login.png') no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-card {
  background-color: #22222218;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  padding: 40px;
  width: 45vh; 
  height: 60vh;
  text-align: center;
}

.login-logo {
  background-image: url('/src/assets/images/Logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
}


.input-group {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me label {
  color: #fff;
  margin-left: 5px;
}

.login-btn {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.login-btn:hover {
  background: linear-gradient(135deg, #764ba2, #667eea);
}

.forgot-password {
  color: #aaa;
  cursor: pointer;
}

.forgot-password:hover {
  color: #fff;
}
